body {
    color: black;
    font-family: 'Almarai', sans-serif;
}

.divMenuSuperior{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
    background-color: white;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
    display: flex;
    z-index: 1;
}

.imgLogo{
    position: relative;
    left: 15%;
    margin-right: 1%;
}

.tituloMenuSuperior{
    font-size: max(26px, 1.3vw);
    font-weight: 700;
    position: relative;
    left: 15%;
}

.opcaoMenu{
    font-size: max(20px, 1.3vw);
    text-decoration: none;
    color: black;   
    position: relative;
    left: 31%;
    height: 3.3vw;
    margin-right: 4%;
    margin-bottom: 0.5%;
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 0px 3px;
    background-position: left bottom;
    transition: all 0.5s;
}

.opcaoMenu:hover {
    /* margin-bottom: 1%; */
    text-decoration: underline;
    background-size: 100% 3px;
}

.homePage {
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    position: relative;
    top: 100px;
}

.imgHomePage {
    width: 50%;
    position: relative;
    bottom: 0px;
    left: 10%;
    /* float: left; */
    /* border: 1px solid black; */
    transition: all 0.5s;
}

.imgHomePage:hover {
    bottom: 20px;
}

.tituloHomePage{
    text-align: center;
    position: relative;
    top: 250px;
    right: 6.7%;
    font-size: max(30px, 3.5vw);
    float: right;
    border-bottom: 0px solid black;
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 0px 3px;
    background-position: left bottom;
    transition: all 0.5s;
}

.tituloHomePage:hover {
    top: 235px;
    border-bottom: 5px solid black;
    background-size: 100% 3px;
}